
* {
    outline: none;
}

body {
    margin: none;
}

#header-1 {
    text-align: right;
    padding: 20px;
    background-color: black;
    color: antiquewhite;
    font-family: 'Besley', serif;
}

nav ul li, .tab-list ul li{
    display: inline-block

}

.tab-list ul li{
    margin-top: 3%;
    margin-bottom: 3%;
}

.tab-list ul{
    text-align: center;
}

nav a {
    text-decoration: none;
    padding: 35px;
    font-family: SST, helvetica, arial, sans-serif;
    color: rgb(169, 168, 168);
}

.tab-list a {
    text-decoration: none;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(30, 29, 29);
    font-weight: bolder;
    
    
}

#header-2{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: left;
}
.game-row-midsection {
    text-align: center;
    margin-top: 150px;
   
}

.game-row-midsection div {
    display: inline-block;
    padding: 30px;

}

.game-row-midsection div img {
    width: 200px;
    height: 200px;
}

p {
    width: 200px;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

